body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    display: none; 
  }

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-top: 3%;
    padding: 14px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-family: 'manrope';
    font-weight: 700;
    width: 500px;
    justify-self: center;
    align-items: center;
}

.home,.projects{
    text-decoration: none;
    color: white;
}
.contact{
    background-color: rgb(255, 255, 255);
    padding: 8px;
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

.container{
    align-self: center;
    background-color: rgb(0, 0, 0);
    margin: 50px 0px 500px 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 1000px;
    width: 800px;
}

.top-container{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8px;
    height: 400px;
}

.top-left-container{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 8px;
}

.left-top-link{
    background-color: rgb(200, 200, 200);
    margin: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInLeft 1s forwards;
}


.left-bottom-link{
    background-color: rgb(200, 200, 200);
    margin: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInLeft 1.4s forwards;
}


.top-right-container-link{
    background-color: rgb(200, 200, 200);
    margin: 18px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInRight 1.4s forwards;
}

.left-top-link:hover,.left-bottom-link:hover,.top-right-container-link:hover{
    background-color:  rgb(242, 242, 242);
}

.github-icon,.linkedin-icon,.email-icon{
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
}

.bottom-container{
    background-color:rgb(0, 0, 0);
    border-radius: 18px;
    box-shadow: 0px 4px 15px rgb(0, 0, 255,0.6);
    animation: fadeInBottom 1.4s forwards;
    display: flex;
    justify-content: center;
    padding: 80px;
    flex-direction: column;
    row-gap: none;
    margin-top: 50px;
}

.head{
    color: white;
    font-family: 'manrope';
    font-weight: 800;
    font-size: 36px;
}



p{
    font-family: 'manrope';
    font-weight: 800;
    font-size: 28px;
    margin: 20px 0px 10px 0px;
    padding: 0;
}

.input-name,.input-mail{
    width: 600px;
    height: 60px;
    margin: 20px 0px 10px 0px;
    font-family: 'work sans';
    padding-left: 20px;
    background-color: rgb(16, 16, 16);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 9px;
    box-shadow: 1px 1px 6px black;
    margin: 0;
}

.input-message{

    width: 600px;
    margin: 20px 0px 10px 0px;
    font-family: 'work sans';
    background-color: rgb(16, 16, 16);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    row-gap: 10px;
    box-shadow: 1px 1px black;
    resize: none;
    margin: 0;
    padding: 10px;
}
.input-message::-webkit-scrollbar {
    display: none; 
  }

.button{

    width: 620px;
    height: 60px;
    font-family: 'work sans';
    font-weight: 600;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    transition: background-color 0.2s ease-in-out;
    background-color: rgb(16, 16, 16);
    color: white;
    margin: 20px 0px 10px 0px;
}

.button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*animation*/

@keyframes fadeInLeft{
    0%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
}


@keyframes fadeInRight{
    0%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(500px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
}


@keyframes fadeInBottom{
    0%{
        opacity: 0;
        filter: blur(20px);
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 0 10px;
    }

   header {
      width: 90%;
      font-size: 16px;
      padding: 10px;
      gap: 10px;
    }
  

    .container {
        width: 100%;
        max-width: 95vw;
        height: auto;
        grid-template-rows: auto auto;
        margin: 40px 0 200px 0;
    }

    .top-container {
        grid-template-columns: 1fr;
        height: auto+10px;
    }

    .top-left-container {
        grid-template-rows: 1fr 1fr;
    }

    .left-top-link,
    .left-bottom-link,
    .top-right-container-link {
        margin: 10px;
    }

    .bottom-container {
        padding: 30px 10px;
    }

    .input-name,
    .input-mail,
    .input-message,
    .button {
        width: 95%;
        max-width: 95%;
    }

    .button{
        width: 100%+20px;
    }

    .head {
        font-size: 28px;
        text-align: center;
    }

    p {
        font-size: 22px;
        text-align: center;
    }
}
